<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Shop_App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B40D078C21F49C2D00B6A9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B40D07A021F49C2D00B6A9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B40D07AB21F49C2D00B6A9E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
